.chat-tab {
  display: flex;
  flex-direction: column;
  > .alert {
    margin-bottom: 0;
  }
  > .chat-messages {
    flex: 1;
    padding: $panel-body-padding;
    overflow-y: auto;
    .pull-left, .pull-right {
      max-width: 90%;
      padding: 5px 10px;
      border-radius: 5px;
    }
    .pull-left {
      background-color: #eff4f8;
    }
    .pull-right {
      background-color: #d6f5fe;
    }
  }
}

.animateTab {
  animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker { to { background-color: #d6f5fe; } }
